<template>
  <div class="gears-container">
    <div>
      <span id="helmet-popover" :style="`background-position: ${helmetPosition}`" class="sprite" />
      <!-- {{ helmet }}
      <b-popover variant="dark" target="helmet-popover" triggers="hover" placement="top">
        <template #title>{{ helmetTitle }}</template>
        {{ helmetContent }}
      </b-popover> -->
    </div>
    <div>
      <span :style="`background-position: ${chestPosition}`" class="sprite" />
      <!-- {{ chest }} -->
    </div>
    <div>
      <span :style="`background-position: ${leggingPosition}`" class="sprite" />
      <!-- {{ legging }} -->
    </div>
    <div>
      <span :style="`background-position: ${bootsPosition}`" class="sprite" />
      <!-- {{ boots }} -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    helmet: {
      required: false,
      type: String,
      default: null
    },
    chest: {
      required: false,
      type: String,
      default: null
    },
    legging: {
      required: false,
      type: String,
      default: null
    },
    boots: {
      required: false,
      type: String,
      default: null
    },
  },
  data() {
    return {
      helmetType: null,
      helmetTitle: null,
      helmetContent: null,
      chestType: null,
      leggingType: null,
      bootsType: null
    }
  },
  computed: {
    helmetPosition() {
      switch (this.helmetType) {
        case 'minecraft:diamond_helmet':
          return `-${3 * 16}px -${0 * 16}px`
        case 'minecraft:netherite_helmet':
          return `-${3 * 16}px -${51 * 16}px`
        default:
          return '0 0';
      }
    },
    chestPosition() {
      switch (this.chestType) {
        case 'minecraft:diamond_chestplate':
          return `-${3 * 16}px -${1 * 16}px`
        case 'minecraft:netherite_chestplate':
          return `-${2 * 16}px -${51 * 16}px`
        case 'minecraft:elytra':
          return `-${13 * 16}px -${25 * 16}px`
        default:
          return '0 0';
      }
    },
    leggingPosition() {
      switch (this.leggingType) {
        case 'minecraft:diamond_leggings':
          return `-${3 * 16}px -${2 * 16}px`
        case 'minecraft:netherite_leggings':
          return `-${4 * 16}px -${51 * 16}px`
        default:
          return '0 0';
      }
    },
    bootsPosition() {
      switch (this.bootsType) {
        case 'minecraft:diamond_boots':
          return `-${3 * 16}px -${3 * 16}px`
        case 'minecraft:netherite_boots':
          return `-${1 * 16}px -${51 * 16}px`
        default:
          return '0 0';
      }
    },
  },
  mounted() {
    if (this.helmet)
      this.helmetType = this.helmet.split('id: "')[1].split('"')[0]
    if (this.chest)
      this.chestType = this.chest.split('id: "')[1].split('"')[0]
    if (this.legging)
      this.leggingType = this.legging.split('id: "')[1].split('"')[0]
    if (this.boots)
      this.bootsType = this.boots.split('id: "')[1].split('"')[0]
  },
  watch: {
    helmet() {
      this.helmetType = this.helmet.split('id: "')[1].split('"')[0]
    },
    chest() {
      this.chestType = this.chest.split('id: "')[1].split('"')[0]
    },
    legging() {
      this.leggingType = this.legging.split('id: "')[1].split('"')[0]
    },
    boots() {
      this.bootsType = this.boots.split('id: "')[1].split('"')[0]
    }
  },
}
</script>

<style scoped>
.sprite {
  display: inline-block;
  vertical-align: text-top;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-image: url('/items.png');
  image-rendering: pixelated;
  transform: scale(2);
  /* margin:12px; */
  /* border: 1px solid brown; */
}

.gears-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 256px;
}

.gears-container > div {
  display: flex;
  align-items:center;
  justify-content: center;
  width:56px;
  height:56px;
  margin-right: 10px;
  border: 2px solid #555;
}
</style>