<template>
  <div class="player-card" @click="$bvModal.show(`player-modal-${uuid}`)">
    <h2 class="m-0" style="align-items:center;display:flex">
      <img :class="{ 'user-active': active }" class="avatar-image" :src="avatar" />
      <div>
        <div class="username">
          {{ username }}
          <span class="points">
            {{ points }} pts
          </span>
        </div>
        <div class="playtime">
          <strong>Playtime</strong>
          <small>{{ playtime }}</small>
          <span v-if="!active">
            <strong>Last Seen</strong>
            <small>{{ seenFormatted() }}</small>
          </span>
        </div>
      </div>
    </h2>
    <div class="jobs-container">
      <div :style="`width: ${100 / 12}% !important`" class="jobs-list" v-for="(job, jIndex) in jobsList" :key="jIndex">
        <h3 class="px-3 mt-2">
          {{ job.name }}
        </h3>
        <div class="px-3">
          <span>
            Level
            <b>
              {{ getJobForUser(job.id, 'level') || 0 }}
            </b>
          </span>
        </div>
        <div
          :style="`background-color:#cfa26644;position:relative;display:block;margin-top:-51px;top:-2px;height: 100%; width: ${getJobForUser(job.id, 'level') / 2}%`"
        />
      </div>
    </div>
    <b-modal
      hide-header
      body-bg-variant="dark"
      hide-footer
      centered
      :id="`player-modal-${uuid}`"
    >
      <PlayerModalContent
        :username="username"
        :gears="gears"
        :koi="koiFeedCount"
        :uuid="uuid"
      />
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import PlayerGears from './PlayerGears.vue'
import moment from 'moment'
import 'moment/locale/fr'
import PlayerModalContent from './PlayerModalContent.vue'

export default {
  components: {
    PlayerGears,
    PlayerModalContent
  },
  props: {
    username: {
      required: true,
      type: String,
    },
    id: {
      required: true,
      type: Number
    },
    avatar: {
      required: true,
      type: String
    },
    skin: {
      required: true,
      type: String
    },
    jobsList: {
      required: true,
      type: Array
    },
    uuid: {
      required: true,
      type: String
    },
    active: {
      required: false,
      type: Boolean,
      default: false
    },
    seen: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      playtime: '',
      points: 0,
      jobs: [],
      gears: {
        helmet: null,
        chest: null,
        leggin: null,
        boots: null
      },
      koiFeedCount: 0
    }
  },
  watch: {
    async active(change) {
      if (change === true) {
        await this.getGears()
      }
    }
  },
  async beforeMount() {
    this.playtime = await this.getPlaytime()
    this.jobs = await this.getJobs()
    this.points = await this.getPoints()
    this.koiFeedCount = await this.getKoiFeedCount()
    if (this.active) {
      await this.getGears()
    } else {
      this.gears = null
    }
    setInterval(async () => {
      this.playtime = await this.getPlaytime()
      this.jobs = await this.getJobs()
      this.points = await this.getPoints()
      this.koiFeedCount = await this.getKoiFeedCount()
      if (this.active) {
        await this.getGears()
      } else {
        this.gears = null
      }
    }, 30000)
  },
  methods: {
    async getPlaytime() {
      try {
        const { data: playtime } = await axios.get(`${import.meta.env.VITE_API_HOST}/player/${this.username}/playtime`)
        return playtime.split(this.username)[1].split('§6:§c ')[1]
      } catch (error) {
        console.error(error)
      }
    },
    async getJobs() {
      try {
        const jobs = await axios.get(`${import.meta.env.VITE_API_HOST}/jobs/${this.uuid}`)
        return jobs.data
      } catch (error) {
        console.error(error)
      }
    },
    async getPoints() {
      try {
        const points = await axios.get(`${import.meta.env.VITE_API_HOST}/jobs/${this.uuid}/points`)
        return Math.floor(points.data.totalpoints)
      } catch (error) {
        console.error(error)
      }
    },
    async getKoiFeedCount() {
      try {
        const count = await axios.get(`${import.meta.env.VITE_API_HOST}/denizen/${this.uuid}/koiCount`)
        return count.data
      } catch (error) {
        console.error(error)
      }
    },
    getJobForUser(jobId, entry) {
      let job = null
      for (let i = 0; i < this.jobs.length; i++) {
        if (this.jobs[i].jobid === jobId) {
          job = this.jobs[i]
        }
      }
      if (job) {
        return job[entry]
      }
      return null
    },
    async getGears() {
      try {
        const { data: gears } = await axios.get(`${import.meta.env.VITE_API_HOST}/player/${this.username}/gears`)
        
        this.$set(this.gears, 'helmet', gears.helmet)
        this.$set(this.gears, 'chest', gears.chest)
        this.$set(this.gears, 'legging', gears.legging)
        this.$set(this.gears, 'boots', gears.boots)
      } catch (error) {
        console.error(error)
      }
    },
    seenFormatted() {
      return moment(Math.floor(this.seen)).locale('fr').format("dddd, MMMM Do YYYY, h:mm:ss a")
    }
  }
}
</script>

<style scoped>
.player-card {
  cursor:pointer;
  opacity:0.8;
}

.player-card:hover {
  opacity: 1;
}

h3 {
  font-size: 16px;
}

.jobs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.jobs-list:nth-child(even) {
  background-color: #555555;
}
.jobs-list:nth-child(odd) {
  background-color: #333333;
}

.jobs-list {
  font-size: 12px;
  height: 65px;
  text-align: center;
  min-width: 150px;
  border-bottom: 1px solid #222;
  flex-grow:1;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px; */
}

.avatar-image {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  image-rendering: pixelated;
  border: 5px solid #812929;
}

.playtime {
  font-size: 14px;
}

.playtime strong {
  margin-right: 5px;
  font-weight: bolder;
  color: #cfa266;
}

.playtime small {
  font-weight: 300;
  color: #cccccc;
}

.user-active {
  border: 5px solid #4ba14b;
}

.points {
  font-size: 14px;
  color: #cfa266;
}

.koi-text {
  font-size: 14px;
  align-self: flex-end;
  margin-bottom: 4px;
  font-weight: 300;
  color: #ccc;
}
</style>