<template>
  <div class="player-modal">
    <div class="modal-title">
      {{ username }}
    </div>
    <div class="player-modal-content">
      <canvas id="skin_container"></canvas>
      <PlayerGears v-if="gears" :helmet="gears.helmet" :chest="gears.chest" :legging="gears.legging" :boots="gears.boots" />
      <div class="info-container">
        <div class="koi-text">
          Koï nourris
          <span>
            {{ koi }}
          </span>
          fois 🐱
        </div>
        <!-- SKILLS -->
        <div class="skills-container">
          <div v-for="(sk, index) in parsedSkills" :key="index" class="skill">
            <span style="z-index: 100;">
              {{ sk.name }}
              {{ sk.value }}
            </span>
            <span :style="`width: ${sk.value}%;`" class="skill-background" />
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <iframe src="http://5.83.164.41:8123/" width="466" height="300" />
    </div> -->
  </div>
</template>

<script>
import * as skinView3D from 'skinview3d'
import PlayerGears from './PlayerGears.vue'
import axios from 'axios';

export default {
  components: {
    PlayerGears
  },
  props: {
    username: {
      type: String,
      required: true
    },
    gears: {
      required: false,
    },
    koi: {
      required: true,
      type: Number
    },
    uuid: {
      required: true,
      type: String
    },
  },
  data() {
    return {
      MANA: 0,
      skills: {
        AGILITY: 0,
        ALCHEMY: 0,
        ARCHERY: 0,
        DEFENSE: 0,
        ENCHANTING: 0,
        ENDURANCE: 0,
        EXCAVATION: 0,
        FARMING: 0,
        FIGHTING: 0,
        FISHING: 0,
        FORAGING: 0,
        FORGING: 0,
        HEALING: 0,
        MINING: 0,
        SORCERY: 0,
      }
    }
  },
  computed: {
    parsedSkills() {
      const skills = Object.keys(this.skills)
      const values = Object.values(this.skills)
      return skills.map((item, index) => {
        return {
          name: item,
          value: values[index]
        }
      })
    }
  },
  mounted() {
    let skinViewer = new skinView3D.SkinViewer({
      canvas: document.getElementById("skin_container"),
      width: 128,
      height: 256,
      skin: `https://minotar.net/skin/${this.username}`
    });
    let run = skinViewer.animations.add(skinView3D.RotatingAnimation);

    this.fetchSkills()
  },
  methods: {
    async fetchSkills() {
      try {
        const resp = await axios.get(`${import.meta.env.VITE_API_HOST}/skills/${this.uuid}`)
        this.skills.AGILITY = resp.data.AGILITY_LEVEL
        this.skills.ALCHEMY = resp.data.ALCHEMY_LEVEL
        this.skills.ARCHERY = resp.data.ARCHERY_LEVEL
        this.skills.DEFENSE = resp.data.DEFENSE_LEVEL
        this.skills.ENCHANTING = resp.data.ENCHANTING_LEVEL
        this.skills.ENDURANCE = resp.data.ENDURANCE_LEVEL
        this.skills.EXCAVATION = resp.data.EXCAVATION_LEVEL
        this.skills.FARMING = resp.data.FARMING_LEVEL
        this.skills.FIGHTING = resp.data.FIGHTING_LEVEL
        this.skills.FISHING = resp.data.FISHING_LEVEL
        this.skills.FORAGING = resp.data.FORAGING_LEVEL
        this.skills.FORGING = resp.data.FORGING_LEVEL
        this.skills.HEALING = resp.data.HEALING_LEVEL
        this.skills.MINING = resp.data.MINING_LEVEL
        this.skills.SORCERY = resp.data.SORCERY_LEVEL
        this.MANA = resp.data.MANA
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style scoped>
.player-modal-content {
  display: flex;
}

#skin_container {
  border: 2px solid #555;
  margin-right: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #555;
  padding: 5px 7px 5px 10px;
}


.player-modal {
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: flex;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 7px;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  border: 2px solid #555;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.koi-text > span {
  color: #cfa266;
  font-weight: bold;
}

.skills-container {
  flex: 1;
  display: block;
  width: 100%;
}

.skill {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid #555;
}

.skill-background {
  position: relative;
  display: block;
  background-color: rgb(102, 0, 0);
  opacity: 0.75;
  height: 100%;
  margin-top: -24px;
}
</style>

<style>
::v-deep .chat {
  display:none;
}
</style>