<template>
<div>
  <TopBar :serverInfo="server" />
  <div class="main-container">
    <PlayerCard
      v-for="(player, index) in players"
      :key="index"
      :username="player.username"
      :avatar="player.avatar"
      :skin="player.skin"
      :jobsList="jobsList"
      :uuid="player.player_uuid"
      :id="player.id"
      :active="player.active"
      :seen="player.seen"
    />
  </div>
</div>
</template>

<script>
import axios from 'axios'
import TopBar from './components/TopBar.vue'
import PlayerCard from './components/PlayerCard.vue'

export default {
  components: {
    TopBar,
    PlayerCard
  },
  data() {
    return {
      players: [],
      jobsList: [],
      onlinePlayers: [],
      server: null
    }
  },
  async beforeMount() {
    await this.getServer()
    await this.getPlayers()
    await this.getOnlinePlayers()
    await this.getJobsList()
    setInterval(async () => {
      await this.getServer()
      await this.getPlayers()
      await this.getOnlinePlayers()
      await this.getJobsList()
    }, 30000)
  },
  methods: {
    async getPlayers() {
      try {
        const { data } = await axios.get(import.meta.env.VITE_API_HOST + '/jobs/players')
        this.players = data
      } catch (error) {
        console.error(error)
      }
    },
    async getServer() {
      try {
        const { data } = await axios.get(import.meta.env.VITE_API_HOST + '/')
        this.server = data
      } catch (error) {
        console.error(error)
      }
    },
    async getOnlinePlayers() {
      try {
        const { data } = await axios.get(import.meta.env.VITE_API_HOST + '/player/online')
        const onlinePlayers = []
        this.players.forEach((p, index) => {
          if (data.includes(p.username)) {
            onlinePlayers.push(p.username)
            this.$set(this.players[index], 'active', true)
          }
        })
        this.onlinePlayers = onlinePlayers
      } catch (error) {
        console.error(error)
      }
    },
    async getJobsList() {
      try {
        const { data } = await axios.get(import.meta.env.VITE_API_HOST + '/jobs/list')
        this.jobsList = data
      } catch (error) {
        console.error(error)
      }
    },
  }
}
</script>

<style>
html, body {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #eee;
}
</style>

<style scoped>
.main-container {
  margin-top: 75px;
}
</style>